.b{
    
    background-color: #292425;
    position: fixed;
    top:0;
    left:0;
    right:0;
    float: left;
    height: 70px;
}

#b{
    text-align: center;
    color: #ffffff;
    
    /* font-size: 40px; */
}
.box1{
    background-color: #d1d1d4;
    margin-top: px;
    margin-left: 100px;
    width: 350px;
    height: 700px;
    border-radius: 16px;
}
.box2{
    background-color: #bcbcbf;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 310px;
    height: 550px;
    border-radius: 16px;
}
.hr{
    color: white;
    margin-bottom: 0px;
    width: 250px;
    
}
.box4{
    background-color: #d1d1d4;
    border-radius: 16px;
    width: 1200px;
    height: 700px;
    margin-top: 150px;
    margin-left: 550px;
    padding: 5px;

}
.ic{
    float: left;
}
.p{
    color: #000000;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 0px;
}

.box3{
    width: 140px;
    height: 140px;
    margin-left: 85px;
    margin-top: 20px;

    
    
    background-color: #292425;
}
.box5{
    background-color: #ffffff;
    border-radius: 16px;
    width: 280px;
    height: 150px;
    margin-left: 10px;
    padding: 5px;



}
.box6{
    background-color: #ffffff;
    border-radius: 16px;
    width: 290px;
    height: 30px;
    margin-left: 10px;

    margin-top: 20px;
}
.p2{font-size: 20px;
    margin-bottom: 0px;
    margin-left: 25px;
}
.p3{
    font-size: 28px;
    margin-top: 1px;
    margin-left: 90px;
}
.p4{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
}
.hr2{
    width: 270px;
    color: #e6e6e8;
}
.p5{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 15px;
    padding: 5px;
}
.p6{
    font-size: 13px;
    margin-top: 0px;
    margin-left: 5px;
}
.p7{
    font-size: 15px;
    margin-left: 10px;
    
}
.bu{
    width: 25px;
    float: right;
}
.m{
    width: 300px;
    left: 1000px;
    top: 350px;
    position: fixed;
}
.sp{
    
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: 25px;
    
}
.st{
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: #e5e6e8;
    border-radius: 10px;
    margin-left: 50px;
    border: none;
    width: 350px;
    height: 35px;
}
.button{
    background-color: #292425;
    border-radius: 10px;
    margin-left: 930px;
    margin-top: 10px;
    color: #ffffff;
    width: 230px;
    height: 43px;
}